html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}




html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
    background-color: #8fbc8f;
}

body {
    background-color: #8fbc8f;
}

.app-layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 55px;
    background-color: #004d00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.logo-wrapper {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.side-btn {
    background: #d9d9d9;
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 6px;
    text-align: center;
}

.page-content {
    flex: 1;
    padding: 45px 35px 20px 35px;
}

.top-cards {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 55px;
}

.info-card {
    flex: 1;
    max-width: 370px;
    height: 155px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: black;
    font-size: 14px;
}

.dark-card {
    background-color: #1b5e20;
}

.bright-card {
    background-color: #0f7a17;
}

.bets-section {
    max-width: 92%;
    margin: 0 auto;
}

.bets-title {
    background-color: #4d564f;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 14px;
}

.bet-row {
    background-color: #5aa35d;
    border-radius: 6px;
    padding: 14px 18px;
    margin-bottom: 10px;
}

.bet-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.bet-description {
    margin-bottom: 8px;
    font-size: 14px;
}

.bet-meta {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}